{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search {
      background: #0369ab;
    }
    /* Sidebar */
    /*.wy-nav-side {*/
    /*  background: #ff0000;*/ 
    /*}*/
	/*a:link, a:visited {*/
	/*	color: gray;*/
	/*}*/
	/*a:link:active, a:visited:active {*/
	/*color: #021a29;*/
	/*}*/
	
	div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
	}
	
	.rst-content table.field-list .field-name {
	text-align: justify;
	}
	
	.rst-content table.field-list .field-body {
	text-align: justify;
	}
	
	.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
	text-align: justify;
	}
	
	.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
	text-align: center;
	}
	
	.wy-form-aligned .wy-control-group label {
    text-align: justify;
	}
	
	.wy-nav-content {
    text-align: justify;
	}

  </style>
{% endblock %}